<html> 
  <head> 
    <title>About</title> 
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head> 
  <div class="topnav">
      <a href="http://aidungeon.io">Home</a>
      <a href="http://patreon.com/AIDungeon">Support</a>
    </div>
    <div class="about">
        <h2> About AI Dungeon </h2>
          <text> 
    AI Dungeon is an AI generated text adventure that uses deep learning to create each adventure. It uses OpenAI's new <a href="https://openai.com/blog/better-language-models/">GPT-2 model</a>, which has 117 million parameters, to generate each story block and possible action. 
    
    <br><br> The first couple sentences of AIDungeon and the action verbs are handcrafted, but everything else is not. For each choice that is made, the initial prompt, the last story block, and the last action are fed into the neural network. The resulting story and action options are then output by the model.
    
    <br><br> In order to speed up the experience some of the first sets of stories, choices and results have been pre-generated and cached. After enough choices, however, it will start taking longer (around 20s) to generate each result. 
    
    <br><br> As you can probably tell there's still a ways to go before AI will be your group's dungeon master, but even after running hundreds of adventures it still manages to surprise me in interesting ways. I've had a lot of fun making this and hope you enjoy it too.  
    
    <br><br><br> If you want to contact me about suggested improvements, comments, etc... feel free to email me about them. Nick Walton "nickwalton00@gmail.com". Also special thanks to Alan Walton and Max Robinson for their help and contributions. 
        
  </text> 
    </div>
  

</html> 
