
<html> 
  <head> 
    <title>Dungeon</title> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script type="text/javascript">
        var seed = {{ data.seed }}
    </script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head> 
  <div class="topnav">
      <a href="about.html">About</a>
      <a href="http://patreon.com/AIDungeon/overview">Support</a>
      <a href=".">Restart</a>
  </div>
  <body> 
    <script type="text/javascript" src="static/script.js"> 
    </script> 
    <div id="console"></div> 
  </body> 
  <div id="buttons">
    <button onclick="onButtonClick(0)">0</button>
    <button onclick="onButtonClick(1)">1</button>
    <button onclick="onButtonClick(2)">2</button>
    <button onclick="onButtonClick(3)">3</button>
    </div>
</html> 
